ugo-collection {
    display: block;
}

.ugo-collection-list {
    margin-bottom: 10px;
}

.ugo-collection-list .iron-selected {
    font-weight: bold;
}

:host(.ugo-theme) {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

:host(.ugo-theme):before,
:host(.ugo-theme):after {
    display: table;
    content: " ";
}

:host(.ugo-theme):after  {
    clear:both;
}

:host(.ugo-theme) > .ugo-collection-menu {
    display: block;
    float: left;
    width: 30%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 35px;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector {
    display: block;
    min-height: 68px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px;
    -webkit-background-clip: border-box;
    -moz-background-clip: border;
    background-clip: border-box;
    font-size: 1.3rem;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector:before,
:host(.ugo-theme) > .ugo-collection-menu > iron-selector:after {
    display: table;
    content: " ";
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector:after {
    clear:both;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div {
    position: relative;
    height: 34px;
    padding: 7px 7px 7px 15px;
    color: #00468C;
    text-decoration: none;
    cursor: pointer;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div:first-of-type {
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div[data-error] {
    color: #a94442;
    background-color: #ffebeb;

}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div[data-error]:nth-child(odd) {
    background-color: #f2dede;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div[data-error].iron-selected {
    background-color: #a94442;
    color: #fff;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div:last-of-child {
    border-radius: 0 0 4px 4px;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div:nth-child(odd) {
    background-color: #f9f9f9;
}



:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div.iron-selected {
    position: relative;
    background-color: #D7E1EB;
    font-weight: normal;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div .ugo-collection-arrow {
    display: none;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div.iron-selected .ugo-collection-arrow {
    display: block;
    position: absolute;
    top: 0;
    right: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 0 17px 15px;
    border-color: transparent transparent transparent #D7E1EB;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div[data-error].iron-selected .ugo-collection-arrow {
    border-color: transparent transparent transparent #a94442;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div:first-of-type .ugo-collection-arrow {
    top: 1px;
    border-width: 16px 0 16px 15px;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div:last-of-type .ugo-collection-arrow {
    top: 1px;
    border-width: 16px 0 16px 15px;
}

/*button add*/
:host(.ugo-theme) > .ugo-collection-menu > button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc;

    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;

    background-color: #aaa;
    background-image: -webkit-linear-gradient(top, #fafafa, #f2f2f2);
    background-image: linear-gradient(to bottom, #fafafa, #f2f2f2);
    color: #00468C;
    text-transform: uppercase;
    color: #00468C;
}

:host(.ugo-theme) > .ugo-collection-menu > button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

:host(.ugo-theme) > .ugo-collection-menu > button:active {
    background-image: none;
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

:host(.ugo-theme) > .ugo-collection-menu > button[disabled] {
    opacity: 0.3;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div > span {
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div > button {
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 7px;
    border: 0;
    background-color: transparent;

    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    font-size: 0;
    color: #00468C;
}

:host(.ugo-theme) > .ugo-collection-menu > iron-selector > div > button:before {
    content: "\e014";
    font-size: 1.4rem;
    background: none;
}

:host(.ugo-theme) ::content [ugo-collection-item] {
    position: absolute;
    float: right;
    width: 70%;
    visibility: hidden;
    background-color: #D7E1EB;
    padding: 30px 15px;
    margin: 0;
    border: 0;
    border-radius: 4px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:host(.ugo-theme) ::content [ugo-collection-item].ugo-collection-selected {
    position: inherit;
    visibility: visible;
}

[ugo-collection-item]:before,
[ugo-collection-item]:after {
    display: table;
    content: " ";
}

[ugo-collection-item]:after  {
    clear:both;
}

:host(.ugo-theme) ::content [ugo-collection-item] img {
    display: none;
}

:host(.ugo-theme) ::content [ugo-collection-item].ugo-collection-selected img {
    display: inline-block;
}


@media screen and (max-width: 991px) {
    :host(.ugo-theme) ::content [ugo-collection-item] {
        margin: 20px 0 0 0;
    }
}